#flash_message

= link_to "New Hospital", new_hospital_path, data: { turbo_frame: "modal" }
= turbo_frame_tag "modal"

%div#hospital_body
  - @hospitals.each do |hospital|
    = render "hospital", hospital: hospital

