= turbo_stream.replace dom_id(@hospital) do
  = render "hospital", hospital: @hospital

= turbo_stream.update "flash_message" do
  %p{style: "color: green;"}
    #{@hospital.name} updated successfully
